[mysql]
# time/date is \D - since there is no way to specify day by number
prompt='(\U\_\v)\_mysql://\u@\h:\p/\d | \D\n>\T\_'

# pager=less -FXRS
pager=pspg -s 0 -X --force-uniborder --quit-if-one-screen

# auto completion:
auto-rehash
show-warnings

!include ~/.my.local.cnf

[client]
default-character-set=utf8mb4

# vim: ft=dosini
