# this section is read by all standard mysql clients
# (including mycli)
[client]
default-character-set=utf8mb4

# pager=less -FXRS
pager=pspg --style=16 --reprint-on-exit --force-uniborder --quit-if-one-screen --bold-labels --no-sigint-search-reset
# pager=pspg --reprint-on-exit --force-uniborder --quit-if-one-screen --bold-labels --no-sigint-search-reset --custom-style=my --log=~/.pspg.log

# only default "mysql" client reads this section
[mysql]
# time/date is \D - since there is no way to specify day by number
prompt="(\\U\_\\v)\\_mysql://\\u@\\h:\\p/\\d\\_|\\_\\D\\n\\T>\\_"

# Enable automatic rehashing. Enables database, table, and column name completion.
# Use --disable-auto-rehash to disable rehashing
auto-rehash

# Cause warnings to be shown after each statement if there are any
show-warnings

# Write line numbers for errors. Disable this with --skip-line-numbers.
# (didn't find a use-case, seems worth keeping on)
line-numbers

# displays binary data (BINARY(16)) using hexadecimal notation (0xvalue)
binary-as-hex=TRUE

compression-algorithms=zlib

!include ~/.my.local.cnf
# vim: ft=dosini
